@import "tailwindcss";
/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}

/* Number Input Arrows */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  background: #22c55e;
  cursor: pointer;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #111827;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}